<!-- Home -->
<%= render "shared/home" %>
<!-- About me -->
<%= render "shared/about" %>
<!-- Services -->
<%= render "shared/services" %>
<!-- Portfolio -->
<%= render "shared/portfolio" %>
<!-- Contacts -->
<%= render "shared/contacts" %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
